@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap');

html {
  box-sizing: border-box;
}
*, 
*::after, 
*::before {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: chartreuse;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}